{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Viva la alcoholution!</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <div id="header">
		<div id="site_title">Cocktail <span>website</span></div>
		<div id="site_slogan">Where everyone has a favorite drink</div>
	</div>
<p>
    <a href="{% url 'recipes:index' %}">Home</a><br>
    <a href="{% url 'recipes:recipes' %}">Recipes</a><br>
    {% if user.is_authenticated %}
        Hello, {{ user.username }}!
        <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a>
        <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}
</p>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

{% block content %}
{% endblock content %}


{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}