{% extends "recipes/base.html" %}

{% block content %}

 <p>Recipe: {{ recipe }}</p>

 <p>Ingredients:</p>
  <ul>
   {% for ingredient in ingredients %}
    <li>
     {{ ingredient }}
      <p>
       <a href="{% url 'recipes:edit_ingredient' ingredient.id %}">Edit ingredient</a><br>
       <a href="{% url 'recipes:edit_quantity' recipe.id ingredient.id %}">Edit quantity</a>
      </p>
    </li>
   {% endfor %}
  </ul>
 <p>
  <a href="{% url 'recipes:new_ingredient' recipe.id %}">Add new ingredient</a>
 </p>

{% endblock content %}