{% extends "recipes/base.html" %}

{% block content %}

 <p>Recipe: {{ recipe }}</p>

 <p>Ingredients:</p>
 <p>
  <a href="{% url 'recipes:new_ingredient' recipe.id %}">Add new ingredient</a>
 </p>
  <ul>
   {% for i, q in zipped %}
    <li>
     <p>{{ i }} | {{ q }}</p>
     <p>
      <a href="{% url 'recipes:edit_ingredient' ingredient.id %}">Edit ingredient</a><br>
      <a href="{% url 'recipes:edit_quantity' recipe.id ingredient.id %}">Edit quantity</a>
     </p>
    </li>
   {% endfor %}
  </ul>
{% endblock content %}