/*Cocktail Website Template*/


/*------------ Header --------------- */

#header {
	height: 251px;
	background: #000000 url(images/banner.gif) no-repeat;
}

#site_title {
	padding-top: 160px;
	padding-left: 50px;
	font-size: 50px;
	color:#a8a8b4;
}

#site_title span{
	font-weight: 200;
	color:#cccc33;
}
